.App {
  text-align: center;
}

.bidPadTable,.bidPadTable td,.bidPadTable th {
    border: 1px solid;
    border-collapse: collapse;
    padding: 15px;
}

#parent {
  display: grid;
  place-items: center;
  gap: 10px;
}

#middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#hand2, #hand0 {
  display: flex;
  justify-content: center;
}

#hand3, #hand1 {
  display: flex;
}

#hand2 > div, #hand3 > div, #hand1 > div, #hand0 > div {
  display: inline-block;
}